# theme
zmodule git-info
zmodule prompt-pwd
zmodule gitster

# Environment
zmodule environment
zmodule input
zmodule utility

# plugins
zmodule zsh-users/zsh-completions
zmodule ohmyzsh/ohmyzsh --source oh-my-zsh.sh
zmodule ohmyzsh/ohmyzsh --root plugins/vim-interaction
zmodule ohmyzsh/ohmyzsh --root plugins/colored-man-pages
zmodule ohmyzsh/ohmyzsh --root plugins/macos
zmodule ohmyzsh/ohmyzsh --root plugins/git
zmodule Aloxaf/fzf-tab
zmodule zsh-users/zsh-syntax-highlighting
zmodule jeffreytse/zsh-vi-mode
